
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "공유기 설정 변경" ,util_setting_path%>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "자녀 관리", util_chlidren_path %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "디스플레이 및 OTP 설정", util_otp_path %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "모니터링 보안", util_monitoring_path %>
  </div>
</div>
