<div class="welcome-wrapper" xmlns="http://www.w3.org/1999/html">

  <div class="section">
    <div class="btn-wrapper">
      <div class="btn-section">
        <%= link_to "", util_setting_path, :class => "img btn animated zoomIn" %>
      <div class="title">
        SSID 설정
      </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="btn-wrapper">
      <div class="btn-section">
        <%= link_to "", util_monitoring_path, :class => "img2 btn animated zoomIn" %>
        <div class="title">
          모니터링 및 OTP 설정
        </div>
      </div>
    </div>
  </div>

</div>



