<!--=== Content Part ===-->
  <!--Reg Block-->
  <div class="reg-block">
    <div class="reg-block-header">
      <h2>관 리 자 로 그 인</h2>

    </div>

    <form action = "/login/auth" >
      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="text" class="form-control" placeholder="PASSWORD" name="password">
      </div>
      <hr>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <input class="btn-u btn-block" type="submit" value="로 그 인">
        </div>
      </div>
     </form>

    <!-- 이제 여기에 로그인 처리를 해야된다 -->
    <!-- 서버랑 통신 요망 -->

  </div>
  <!--End Reg Block-->




