<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <title>SomaIotSequrity</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

</head>

<body>
<!--=== Content Part ===-->
<div class="container">
  <!--Reg Block-->
  <div class="reg-block">
    <div class="reg-block-header">
      <h2>공유기 관리자 비밀번호 변경</h2>
    </div>

    <form action = "/login/auth" >
      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="text" class="form-control" placeholder="변경 할 관리자 비밀번호" name="password">
      </div>
     </form>
  </div>

  <div class="reg-block">
      <div class="reg-block-header">
        <h2>현재 공유기 이름 <br>
          (SSID) : PI-3 </h2>
      </div>

      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="text" class="form-control" placeholder="변경할 공유기 이름(SSID)" name="password">
      </div>

      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="text" class="form-control" placeholder="내부 비밀번호" name="password">
      </div>

    <hr>

      <div class="reg-block-header">
        <h2>현재 손님용 공유기 이름 <br>
          (SSID) : PI-Guest </h2>
      </div>

      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="text" class="form-control" placeholder="손님용 공유기 이름(SSID)" name="password">
      </div>

      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="text" class="form-control" placeholder="손님용 비밀번호" name="password">
      </div>

    <form action = "/login/auth" >

      <hr>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <input class="btn-u btn-block" type="submit" value="변경완료">
        </div>
      </div>
    </form>

    </form>
  <!--End Reg Block-->
  </div><!--/container-->
  </div>
</div>

</body>
</html>


