  <!--Reg Block-->

  <form action="/util/setting_send">

    <div class="reg-block">
      <div class="reg-block-header">
        <h2>공유기 관리자 비밀번호 변경</h2>
      </div>

      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="text" class="form-control" placeholder="변경 할 관리자 비밀번호" name="edit_admin_pass">
      </div>
    </div>

    <div class="reg-block">
      <div class="reg-block-header">
        <h2>현재 공유기 이름 <br>
          (SSID) : <%= @local_ssid %> </h2>
      </div>


      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="text" class="form-control" placeholder="변경할 공유기 이름(SSID)" name="edit_local_ssid">
      </div>

      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="text" class="form-control" placeholder="내부 비밀번호" name="edit_local_pass">
      </div>

      <hr>

      <div class="reg-block-header">
        <h2>현재 손님용 공유기 이름 <br>
          (SSID) : <%= @guest_ssid %> </h2>
      </div>

      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="text" class="form-control" placeholder="손님용 공유기 이름(SSID)" name="edit_guest_ssid">
      </div>

      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="text" class="form-control" placeholder="손님용 비밀번호" name="edit_guest_pass">
      </div>

      <hr>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <input class="btn-u btn-block" type="submit" value="변경완료">
        </div>
      </div>
    </div>

  </form>


  <!--End Reg Block-->




